@use '../../styles/variables' as *;

.button {
  all: unset;
  color: white;

  cursor: pointer;
  text-align: center;
  user-select: none;
  transition: 0.3s ease;
  display: flex;
  align-items: center;

  &.primary {
    background-color: $bgAccent;
    &:hover {
      background-color: $bgAccentHover;
    }
    &:active {
      background-color: $bgAccentActive;
    }
    &:disabled {
      background-color: $bgDisapled;
    }
  }
  &.secondary {
    background-color: $bgAccentSubdued;
    color: $textAccent;
    &:hover {
      background-color: $bgAccentSubduedHover;
    }
    &:active {
      background-color: $bgAccentSubduedActive;
    }
    &:disabled {
      background-color: $bgDisapled;
    }
  }
  &.clear {
    background-color: $bgPrimary;
    color: $textAccent;
    &:hover {
      color: $textAccentHover;
    }
    &:active {
      color: $textAccentActive;
    }
    &:disabled {
      background-color: $bgPrimary;
    }
  }
  &.critical {
    background-color: $textCritical;
    &:hover {
      background-color: $textCriticalHover;
    }
    &:active {
      background-color: $textCriticalActive;
    }
    &:disabled {
      background-color: $bgDisapled;
    }
  }
  &.critical-secondary {
    background-color: $bgCriticalSubdued;
    color: $textCritical;
    &:hover {
      background-color: $bgCriticalSubduedHover;
      color: $textCriticalHover;
    }
    &:active {
      background-color: $bgCriticalSubduedActive;
      color: $textCriticalActive;
    }
    &:disabled {
      background-color: $bgDisapled;
    }
  }
  &.lg {
    height: 48px;
    border-radius: 8px;
    padding: 16px 18px;
    gap: 10px;
    font-size: 16px;
  }
  &.md {
    height: 40px;
    border-radius: 6px;
    padding: 16px;
    gap: 8px;
    font-size: 14px;
  }
  &.sm {
    height: 32px;
    border-radius: 4px;
    padding: 16px 14px;
    gap: 8px;
    font-size: 12px;
  }
  &.xsm {
    height: 24px;
    border-radius: 4px;
    padding: 16px 12px;
    gap: 8px;
    font-size: 10px;
  }
  &:disabled {
    pointer-events: none;
    cursor: not-allowed;
    color: $textDisapled;
  }
  &.rounded {
    border-radius: 64px;
  }
  &.mini {
    aspect-ratio: 1 / 1;
  }
}
