@use 'palette' as *;
$bgPrimary: $whiteMain;
$bgSecondary: $black100;
$bgSecondaryHover: $black200;
$bgSecondaryActive: $black300;
$bgDisapled: $black100;

$bgAccent: $pirpleMain;
$bgAccentHover: $pirple700;
$bgAccentActive: $pirple800;
$bgAccentSubdued: $pirple100;
$bgAccentSubduedHover: $pirple200;
$bgAccentSubduedActive: $pirple300;

$bgCritical: $redMain;
$bgCriticalHover: $red700;
$bgCriticalActive: $red800;
$bgCriticalSubdued: $red100;
$bgCriticalSubduedHover: $red200;
$bgCriticalSubduedActive: $red300;
