@use 'palette' as *;
$borderPrimary: $black300;
$borderSecondary: $black100;
$borderFocus: $blackMain;
$borderAccent: $pirpleMain;
$borderAccentHover: $pirple700;
$borderAccentActive: $pirple800;
$borderCritical: $redMain;

@mixin border-radius {
  border-radius: 8px;

  @media (max-width: 1440px) {
    border-radius: 8px;
  }

  @media (min-width: 1024px) {
    border-radius: 6px;
  }

  @media (min-width: 768px) {
    border-radius: 4px;
  }

  @media (min-width: 320px) {
    border-radius: 4px;
  }
}
