@use 'palette' as *;
$fontFamilyMain: 'Inter', 'sans-serif';

$fontH1: 700 36px / 120% #{$fontFamilyMain};
$fontH1Margin: 0 0 8px 0;
$fontH2: 700 32px / 120% #{$fontFamilyMain};
$fontH2Margin: 0 0 8px 0;
$fontH3: 700 24px / 120% #{$fontFamilyMain};
$fontH3Margin: 0 0 8px 0;
$fontH4: 700 18px / 120% #{$fontFamilyMain};
$fontH4Margin: 0 0 8px 0;
$fontH5: 700 16px / 120% #{$fontFamilyMain};
$fontH5Margin: 0 0 8px 0;

$fontP1: 500 24px / 120% #{$fontFamilyMain};
$fontP1Margin: 0 0 8px 0;
$fontP2: 500 18px / 120% #{$fontFamilyMain};
$fontP2Margin: 0 0 8px 0;
$fontP3: 400 16px / 120% #{$fontFamilyMain};
$fontP3Margin: 0 0 8px 0;
$fontP4: 500 16px / 120% #{$fontFamilyMain};
$fontP4Margin: 0 0 8px 0;
$fontP5: 400 14px / 120% #{$fontFamilyMain};
$fontP5Margin: 0 0 8px 0;
$fontP6: 500 14px / 120% #{$fontFamilyMain};
$fontP6Margin: 0 0 8px 0;
$fontP7: 400 12px / 120% #{$fontFamilyMain};
$fontP7Margin: 0 0 4px 0;
$fontP8: 500 12px / 120% #{$fontFamilyMain};
$fontP8Margin: 0 0 4px 0;
$fontP9: 400 10px / 120% #{$fontFamilyMain};
$fontP9Margin: 0 0 4px 0;
$fontP10: 500 10px / 120% #{$fontFamilyMain};
$fontP10Margin: 0 0 4px 0;
