@use 'palette' as *;
$iconPrimary: $blackMain;
$iconSecondary: $black600;
$iconDisapled: $black400;
$iconAccent: $pirpleMain;
$iconAccentHover: $pirple700;
$iconAccentActive: $pirple800;
$iconSubdued: $pirple100;
$iconSubduedHover: $pirple200;
$iconSubduedActive: $pirple300;
$iconCritical: $redMain;
$iconCriticalHover: $red700;
$iconCriticalActive: $red800;
