$whiteMain: rgba(255, 255, 255, 1);
$white600: rgba(255, 255, 255, 0.88);
$white500: rgba(255, 255, 255, 0.64);
$white400: rgba(255, 255, 255, 0.4);
$white300: rgba(255, 255, 255, 0.14);
$white200: rgba(255, 255, 255, 0.09);
$white100: rgba(255, 255, 255, 0.06);

$blackMain: rgba(8, 9, 28, 1);
$black600: rgba(8, 9, 28, 0.88);
$black500: rgba(8, 9, 28, 0.6);
$black400: rgba(8, 9, 28, 0.36);
$black300: rgba(8, 9, 28, 0.12);
$black200: rgba(8, 9, 28, 0.08);
$black100: rgba(8, 9, 28, 0.04);

$pirple800: rgba(122, 19, 255, 1);
$pirple700: rgba(134, 40, 255, 1);
$pirpleMain: rgba(151, 71, 255, 1);
$pirple600: rgba(151, 71, 255, 0.88);
$pirple500: rgba(151, 71, 255, 0.6);
$pirple400: rgba(151, 71, 255, 0.36);
$pirple300: rgba(151, 71, 255, 0.14);
$pirple200: rgba(151, 71, 255, 0.1);
$pirple100: rgba(151, 71, 255, 0.06);

$red800: rgba(229, 23, 23, 1);
$red700: rgba(229, 46, 46, 1);
$redMain: rgba(229, 69, 69, 1);
$red600: rgba(229, 69, 69, 0.88);
$red500: rgba(229, 69, 69, 0.6);
$red400: rgba(229, 69, 69, 0.36);
$red300: rgba(229, 69, 69, 0.14);
$red200: rgba(229, 69, 69, 0.1);
$red100: rgba(229, 69, 69, 0.06);
