@use 'palette' as *;
$textPrimary: $blackMain;
$textSecondary: $black500;
$textDisapled: $black400;
$textAccent: $pirpleMain;
$textAccentHover: $pirple700;
$textAccentActive: $pirple800;
$textAccentSubdued: $pirple100;
$textAccentSubduedHover: $pirple200;
$textAccentSubduedActive: $pirple300;
$textCritical: $redMain;
$textCriticalHover: $red700;
$textCriticalActive: $red800;
