$textPrimary: $blackMain;
$textSecondary: $black600;
$textDisapled: $black400;
$textAccent: $pirpleMain;
$textHover: $pirple700;
$textActive: $pirple800;
$textSubdued: $pirple100;
$textSubduedHover: $pirple200;
$textSubduedActive: $pirple300;
$textCritical: $redMain;
$textCriticalHover: $red700;
$textCriticalActive: $red800;
